SECRET_KEY = "una clave secreta real"

DEBUG = False  # True en desarrollo

ALLOWED_HOSTS = []

# Si se utiliza Postgresql, además remover Sqlite de la configuración local:
DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "nombre_base_de_datos",
        "USER": "nombre_de_usuario",
        "PASSWORD": "contraseña",
        "HOST": "127.0.0.1",
        "PORT": "5432",
    }
}


# colocar dirección de correo que se ocupa para automatizaciónes como recuperar la contraseña.
DEFAULT_FROM_EMAIL = "info@localhost.org" 

# cambiar acorde al sistema de correo utilizado
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend' 
